body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

input[type="file"] {
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"], input[type="date"], input[type="time"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    margin-top: 20px;
    justify-content: center;
    justify-items: center;
}

button:hover {
    background-color: #0056b3;
}

.search-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    margin-right: 10px;
}

button.search-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.search-button:hover {
    background-color: #218838;
}

.list-section {
    margin-top: 20px;
}

.list-section ul {
    list-style-type: none;
    padding: 0;
}

.list-section li {
    padding: 10px;
    border-bottom: 1px  solid #ccc;
}

.list-section li:last-child {
    border-bottom: none;
}


@media (max-width: 600px) {
    .container {
      padding: 10px;
    }

    input[type="text"], input[type="date"], input[type="time"], select {
      width: 100%;
    }

    button {
        width: 100%;
    }

    .search-section input[type="text"] {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .search-section button.search-button {
        width: 100%;
    }
}